#infos {
    display: grid;
    grid-template-columns: 1fr auto;

    font-size: var(--infos-font-size);
}
/* left */
    #infos .left {
        position: relative;
        
        display: flex;
        align-items: center;

        padding: min(2vw, 1em);
    }
    #infos .left img {
        width: var(--infos--img-width);
        z-index: 1;
    }
    #infos .left p {
        display: flex;
        align-items: center;

        width: 50%;
        height: fit-content;
        min-height: 45px;

        padding: 1em;

        color: white;
        font-size: 1em;
        border-radius: 0 1em 1em 0;
        background-color: var(--color-2);
        z-index: 1;
    }
    #infos .left .back {
        position: absolute;
        top: 50%;
        left: calc(var(--infos--img-width) / 4 );
        transform: rotate(17deg) translateY(-50%);

        width: calc(var(--infos--img-width) * 1.5);
        aspect-ratio: 30/27;
        
        border: .3em solid red;
    }
/* rigth */
    #infos .rigth img {  width: min(30vw, 420px); }


/* responsive */
    @media screen and ( max-width: 1300px ) {
        #infos .rigth img { display: none; }
        #infos .left p { width: 100%; }
    }