#reviews * {
    box-sizing: border-box;
}

#reviews {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: min(10vw, 50px); /* recode */

    font-size: clamp(1rem, 2.8vw, 2rem);

    padding: 1rem;
}
    /* Top */
        #reviews .top {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #reviews .top a {
            position: relative;
            
            padding: .5em 1em;
            
            color: white;
            font-size: 1em;
            font-weight: 500;
            text-decoration: none;
            
            border: 0;
            border-radius: .5em;
            background-color: var(--color-2);
            box-shadow: .3em .3em 0 var(--color-4);
        }
        #reviews .top a:hover { box-shadow: -.3em -.3em 0 var(--color-4); }
        /* Stars */
            #reviews .top .stars {
                position: absolute;
                display: flex;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
                
                width: 50%;
                height: 100%;
            }
            #reviews .top .stars svg.star:nth-child(3) { width: 100%; }

    /* Bottom */
        #reviews .bottom {
            box-sizing: content-box;

            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 1rem;

            width: 100%;
            max-width: 2000px;
            height: 610px;

            margin: 0 auto;
            
            overflow: hidden;
        }
        #reviews .bottom .movie {
            display: flex;
            justify-content: center;
            align-items: center;

            width: fit-content;
            height: fit-content;
            
            overflow: hidden;
            
            border-radius: .5em;
        }
        #reviews .bottom .movie img {
            object-fit: cover;
            width: 100%;
        }