#reviews {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: min(10vw, 50px); /* recode */

    font-size: clamp(1rem, 2.8vw, 2rem);
}
    /* Top */
        #reviews .top {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #reviews .top a {
            position: relative;
            
            padding: 1em;
            
            color: white;
            font-size: 1em;
            font-weight: 500;
            text-decoration: none;
            
            border: 0;
            border-radius: .5em;
            background-color: var(--var2);
            box-shadow: .4em .4em 0 var(--var4);
        }
        #reviews .top a:hover { box-shadow: -.4em -.4em 0 var(--var4); }
        /* Stars */
            #reviews .top .stars {
                position: absolute;
                display: flex;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
                
                width: 50%;
                height: 100%;
            }
            #reviews .top .stars svg.star:nth-child(3) { width: 100%; }

    /* Bottom */
        #reviews .bottom {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 3vw;  /* recode */

            padding: 2vw;  /* recode */
        }
        #reviews .bottom .movie {
            display: flex;
            justify-content: center;
            align-items: center;

            width: fit-content;
            height: fit-content;

            width: 325px;  /* recode */
            min-height: 325px;  /* recode */
            
            overflow: hidden;
            
            border-radius: .5em;  /* recode */
        }
        #reviews .bottom .movie img {
            object-fit: cover;
            width: 100%;
        }
@media screen and (max-width: 1000px) {
    #reviews .bottom {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 0;
    }
    #reviews .bottom .movie { width: 70vw;  /* recode */ }
}
@media screen and (max-width: 500px) {
    #reviews .bottom .movie {
        width: auto;
        min-width: 100vw;  /* recode */
    }
}