/* global */
    .unvisible { display: none; }

    #filter .btn-shadow { box-shadow: -.1em -.1em 0 rgba(0, 0, 0, .5) inset; }
    #filter .btn-shadow:hover { box-shadow: .1em .1em 0 rgba(0, 0, 0, .5) inset; }

/* filter */
    #filter {
        position: relative;
        width: 60vw;

        margin: 1em auto;
        padding: .25em 1em;
        
        font-size: 1.5rem;
        border-radius: 5em;
        background-color: rgba(170, 170, 170, .5);
    }
    #filter::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        width: 100%;
        height: 100%;

        padding: 0 2em;

        border-radius: inherit;
        background-color: rgba(170, 170, 170, .5);
        z-index: -1;
    }
    /* filterBar */
        /* globals */
            #filter #filterBar svg {
                height: 1em;
                aspect-ratio: 1;
            }
        #filter #filterBar {
            display: grid;
            grid-template-columns: 1fr auto auto;
            gap: .5em;
        }
        /* search */
            #filter #filterBar #search {
                display: grid;
                gap: .25em;
                grid-template-columns: auto 1fr;
                
                padding: .25em;

                border-radius: 40em;
                background-color: #1D54B9;
            }
            #filter #filterBar #search input {
                width: 100%;
                height: 100%;
                
                font-size: min(.75em);
                
                color: white;
                border: none;
                background: none;
                outline: none;
            }
            #filter #filterBar #search input::placeholder { color: rgba(255, 255, 255, .75); }
            #filter #filterBar #search input::-webkit-search-cancel-button { all: unset; }
        /* openFilter */
            #filter #filterBar #openFilter {
                display: grid;
                grid-template: auto / auto;
                cursor: pointer;

                padding: .25em;
                border-radius: .25em;
                
                color: white;
                background-color: #1D54B9;
            }
        /* clear */
            #filter #filterBar .clear {
                display: grid;
                grid-template: auto / auto;
                cursor: pointer;

                padding: .25em;
                border-radius: .25em;
                
                color: white;
                background-color: #1D54B9;
            }


    /* openFilter */
        /* globas */
            #filter #screenFilter svg {
                height: 100%;
                aspect-ratio: 1;
            }
            #filter #screenFilter select {
                appearance: none;
                cursor: pointer;

                padding: .5em;

                font-size: 1em;
                border-radius: .3em;
                background-color: rgba(50, 50, 50, 1);
                background-image: url("/images/arrow_temp.png");
                background-size: 1em 1em; /* Ajuste o tamanho da imagem */
                background-position: 92% center;
                background-repeat: no-repeat;
                padding-right: 2em; /* Espaço para a imagem */
            }

        #filter #screenFilter {
            position: fixed;
            display: none;
            justify-content: center;
            align-items: center;

            top: 0;
            left: 0;
            
            width: 100%;
            height: 100%;

            font-size: 1em;
            background-color: rgba(0, 0, 0, .5);
            z-index: 2;
        }
        #filter #screenFilter .back {
            display: grid;
            grid-template-rows: min-content auto min-content;

            width: 80%;
            height: 80%;

            border-radius: 1em;
            overflow: hidden;

            background-color:  blueviolet;
        }
        /* top */
            #filter #screenFilter .top {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                padding: .5em 1em;
                border-bottom: .1em solid white;

                color: white;
            }
            #filter #screenFilter .top .close {
                cursor: pointer;
                height: 100%;
                aspect-ratio: 1;
            }
        /* middle */
            #filter #screenFilter .mainFilter {
                display: grid;
                grid-template-columns: repeat(2, min-content) auto;
                grid-template-rows: min-content;
                gap: 1em;

                padding: 1em;
            }
            /* promotion */
            #filter #screenFilter .mainFilter #promotion {
                    cursor: pointer;
                    display: grid;
                    grid-template-columns: 1fr auto;
                    align-items: center;
                    gap: 1em;
                    align-self: center;
                    justify-self: end;

                    width: min-content;
                    padding: .5em;

                    color: white;
                    font-size: 1em;
                    line-height: 1em;
                    border-radius: .3em;
                    background-color: rgba(50, 50, 50, 1);;
                }
                /* outside */
                    #filter #screenFilter .mainFilter #promotion .toogle .outside {
                        cursor: pointer;
                        position: relative;
                        display: block;
                        
                        height: 2em;
                        width: 5em;
                        
                        font-size: .75em;
                        border-radius: 1em;
                        border: .15em solid rgba(230, 230, 230, 1);
                        background-color: rgb(143, 143, 143);
                        box-shadow: 0 0 .5em rgba(0, 0, 0, .5) inset;
                        transition: background .5s;
                    }
                    #filter #screenFilter .mainFilter #promotion .toogle .outside:hover {
                        box-shadow: 0 0 .5em rgba(0, 0, 0, .5) inset, 0 0 .2em rgb(0, 186, 224);
                    }
                    /* circle */
                        #filter #screenFilter .mainFilter #promotion .toogle .outside .circle {
                            position: absolute;
                            display: block;
                            right: 3em;

                            height: 100%;
                            aspect-ratio: 1;

                            border-radius: inherit;

                            background-color: white;
                            transition: right .5s;
                        }
                        #filter #screenFilter .mainFilter #promotion .toogle .outside .circle::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            height: 85%;
                            aspect-ratio: 1;

                            border-radius: inherit;

                            box-shadow: 0 .1em .2em rgba(0, 0, 0, .5) inset;
                            background-color: white;
                        }
                /* input promotion */
                    #filter #screenFilter .mainFilter #promotion .toogle input[type="checkbox"]:checked ~ .outside { background-color: green; }
                    #filter #screenFilter .mainFilter #promotion .toogle input[type="checkbox"]:checked ~ .outside .circle { right: 0; }
            /* type */
                #filter #screenFilter #type {
                    align-self: center;
                    justify-self: start;
                }
                #filter #screenFilter #type select {
                    color: white;
                }
                #filter #screenFilter #type select option { background-color: inherit; }
                /* checked */
                    /* desenvolver giro da seta */
            /* uf */
                #filter #screenFilter #uf {
                    align-self: center;
                    justify-self: start;
                }
                #filter #screenFilter #uf select {
                    color: white;
                }
                #filter #screenFilter #uf select option { background-color: inherit; }
                /* checked */
                    /* desenvolver giro da seta */
            /* Categories */
                #filter #screenFilter .categories {
                    grid-area: 2 / 1 / -1 / -1;
                    width: 100%;
                }
                /* title */
                    #filter #screenFilter .categories h2 {
                    font-size: 1.5em;
                    color: white;
                }
                /* items */
                    #filter #screenFilter .categories div#categories {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 1em;
                        padding: 1em;
                    }
                    #filter #screenFilter .categories div#categories .item input[type="checkbox"] { display: none; }
                    #filter #screenFilter .categories div#categories .item label {
                        cursor: pointer;
                        padding: .4em 1.2em;

                        white-space: nowrap;
                        border-radius: 1em;
                        background-color: rgba(0, 0, 0, .3);
                        transition: .2s background ease-in-out;
                    }
                    #filter #screenFilter .categories div#categories .item label:hover {
                        background-color: rgb(238, 175, 0);
                    }
                    #filter #screenFilter .categories div#categories .item input:checked ~ label {
                        background-color: rgb(238, 175, 0);
                }
        /* options */
            #filter #screenFilter .options {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                
                padding: 1em 2.5em;
            }
            #filter #screenFilter .options > * {
                cursor: pointer;
                padding: .5em;

                letter-spacing: .1em;
                border-radius: .5em;
                background-color: #009b00;
            }
            /* confirm */
                /* #filter #screenFilter .options .confirm {
                    background-color: green;
                } */
            /* clear */
                #filter #screenFilter .options .clear {
                    color: white;
                    background-color: rgba(0, 0, 0, .4);
                }


@media screen and (max-width: 900px) {
    #filter {
        width: 90vw;
        font-size: 1.3em;
    }
    #filter::before {
        display: none;
    }

    #filter #screenFilter {
        font-size: min(1rem, 4vw);;
    }

    #filter #screenFilter .mainFilter {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, min-content) auto;
    }
    #filter #screenFilter .mainFilter #promotion {
        justify-self: start;
        grid-row: 1/ span 1;
    }
    #filter #screenFilter .categories {
        grid-area: 4 / 1 / -1 / -1;
    }
    #filter #screenFilter .categories div#categories {
        flex-wrap: wrap;
    }

    /* disabled hover */
    #filter #screenFilter .categories div#categories .item label:hover {
        background-color: rgba(0, 0, 0, .3);
    }
}