<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <style>
        #homePages {
            display: flex;
            gap: 5px;
        }
        #homePages div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding: 10px;
            width: 100px;
            height: 100px;
            background-color: #ddd;
        }
    </style>
    <style>
        #filter {
            display: flex;
        }

        #profiles {
            display: flex;
        }
        #profiles > div {
            background-color: #ddd;
            width: 200px;
            padding: 10px;
            margin: 10px;
        }

        .unvisible { display: none; }

        /* btn */
            /* promotion */
                .btn.promotion {
                    padding: 10px;
                    border-radius: 2px;
                    background-color: red;
                }
                .btn.promotion:hover {cursor: pointer;}

                div#promotion input {display: none;}
                div#promotion input:checked ~ label.promotion { background-color: green; }

            /* categorie */
                div#categories div {
                    padding: 10px;
                }
                div#categories div label {
                    padding: 10px;
                    border: 1px solid black;
                    border-radius: 5px;
                }
                div#categories div label:hover {cursor: pointer;}

                div#categories input {display: none;}
        div#categories input:checked ~ label.categorie { background-color: green; }
</style>
</head>
<body>
    <h2>Home Page</h2>
    <div id="homePages">
        <div id="order_0"></div>
        <div id="order_1"></div>
        <div id="order_2"></div>
        <div id="order_3"></div>
        <div id="order_4"></div>
        <div id="order_5"></div>
        <div id="order_6"></div>
    </div>


    <div id="profiles">
        <div id="empty" class="unvisible">
            <h2>Vazio, tente redefinir as pesquisas</h2>
        </div>
    </div>

    <script type="module">
        import Joi from 'https://cdn.jsdelivr.net/npm/joi@17.9.2/+esm'
        import validate from "/validator.js";

        class ApiHomePage {
            async apiGetAll() {
                return await fetch('/api/homePage/getAll')
            }
        }
        class HomePageFunctions extends ApiHomePage {
            constructor() { super()}

            getTemplate(data) {
                return `
                    <input class="delete" type="button" value="delete">
                    ${data.name}
                `
            }
            build(data) {
                this.clear()
                data.forEach(e => {
                    this.homePage.querySelector('div#order_'+e.order).innerHTML = this.getTemplate(e.profile)

                    this.homePage.querySelector(`div#order_${e.order} input.delete`).addEventListener('click', (evt) => {
                        evt.preventDefault()

                        mainFunctions.delete(e.order)
                    })
                });
            }
            clear() { this.homePage.querySelectorAll('div').forEach(e => { e.innerHTML = '' }) }
        }
        class MainHomePage extends HomePageFunctions {
            constructor(homePage) {
                super()
                this.homePage = homePage
            }
        }

        class ApiProfiles {
            async apiGetAll() {
                return await fetch('/api/profile/getList')
            }
        }
        class ProfileFunctions extends ApiProfiles {
            constructor () { super() }

            getTemplate(data) {
                return `<div id="_${data._id}"} > 
                        _id: ${data._id}, <br>
                        name: ${data.name}, <br>
                        picture: ${data.picture}, <br>
                        promotion: ${data.promotion}, <br>
                        uf: ${data.uf}, <br>
                        category: {<br>
                            &nbsp;&nbsp; type: ${data.category.type}, <br>
                            &nbsp;&nbsp; categories: ${data.category.categories} <br>
                        }
                    </div>`
            }
            build(data) {
                this.clear()
                data.forEach(e => {
                    let template = this.getTemplate(e)
                    this.profiles.insertAdjacentHTML('beforeend', template)
                });
            }

            clear() { this.profiles.innerHTML = '' }
        }
        class MainProfile extends ProfileFunctions {
            constructor(profiles) {
                super()
                this.profiles = profiles
            }
        }


        class MainFunctions {
            constructor() {
                this.build()
            }
            async apiInsert(data) {
                return await fetch('/api/homePage/insert', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data)
                })
            }
            async apiDelete(data) {
                return await fetch('/api/homePage/delete', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data)
                })
            }

            async build() {
                let temp = await Promise.all([
                    mainHomePage.apiGetAll(),
                    mainProfile.apiGetAll()
                ])
                let [homePageList, profileList] = await Promise.all(temp.map(e => e.json()))

                mainHomePage.build(homePageList)
                mainProfile.build(profileList)


                // passar esse código pra dentro do seu responsável futuramente
                let hpl = homePageList.map(e => e.profile._id)
                let template = `
                    <input class="insertOrd" type="number" placeholder="order" max="6" min="0"><br>  
                    <input class="insertCard" type="button" value="Inserir"><br>
                `
                profileList.forEach(e => {
                    if (!hpl.includes(e._id)){
                        document.querySelector(`#profiles #_${e._id}`).insertAdjacentHTML('beforeend', template)
                    
                        document.querySelector(`#profiles #_${e._id} input.insertCard`).addEventListener('click', evt => {
                            evt.preventDefault()
                            let order = document.querySelector(`#profiles #_${e._id} input.insertOrd`).value || undefined

                            this.insert(e._id, order)
                        })
                    }
                })
            }
            insert(id, order) {
                const {error, value} = validate.homePage.insert({
                    id: id,
                    order: order
                })
                if (error) throw error

                this.apiInsert(value)
                    .then(e => {
                        this.build()
                    })
            }
            delete(order) {
                const {error, value} = validate.homePage.order(order)
                if (error) throw error

                this.apiDelete({order: value})
                    .then(e => {
                        this.build()
                    })
            }
        }

        
        const eHomePage = document.querySelector('#homePages')
        const eProfiles = document.querySelector('#profiles')
        
        const mainProfile = new MainProfile(eProfiles)
        const mainHomePage = new MainHomePage(eHomePage)
        const mainFunctions = new MainFunctions()
    </script>
</body>
</html>