<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Config</title>
    <style>
        span.error {
            background-color: red;
        }
    </style>
</head>
<body>
    <h1>Config</h1>

    <%- include('../insertform.ejs', {categories, promotions}) %>
    <script type="module" >
        import Form from '/Form.js'

        const eForm = document.querySelector('form#form')
        const form = new Form(eForm)
    </script>
</body>
</html>