<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Config Profiles</title>

    <link rel="stylesheet" href="/style.css">
    <style>
        #screen {
            display: none;
        }
        #screen #loading {
            display: none;
        }
        span.error {
            background-color: red;
        }
    </style>
</head>
<body>
    <%- include('../profile/filter.ejs') %>
    <%- include('../profile/table.ejs') %>

    <input type="button" id="insert" value="insert">
    <div id="notifications">
    </div>

    <div id="screen">
        <div id="loading">!!! CARREGANDO</div>
        <input type="button" value="close" class="close">
        <%- include('../insertForm.ejs')  %>
    </div>
    
    <script type="module" src="/profiles.js"></script>
</body>
</html>