<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Config Profiles</title>

    <style>
        #filter {
            display: flex;
        }

        #profiles {
            display: flex;
        }
        #profiles > div {
            background-color: #ddd;
            width: 200px;
            padding: 10px;
            margin: 10px;
        }

        .unvisible { display: none; }

        /* btn */
            /* promotion */
                div#filter .btn.promotion {
                    padding: 10px;
                    border-radius: 2px;
                    background-color: red;
                }
                div#filter .btn.promotion:hover {cursor: pointer;}

                div#filter div#promotion input {display: none;}
                div#filter div#promotion input:checked ~ label.promotion { background-color: green; }

            /* cdiv#filter ategorie */
                div#filter div#categories div {
                    padding: 10px;
                }
                div#filter div#categories div label {
                    padding: 10px;
                    border: 1px solid black;
                    border-radius: 5px;
                }
                div#filter div#categories div label:hover {cursor: pointer;}

                div#filter div#categories input {display: none;}
                div#filter div#categories input:checked ~ label.categorie { background-color: green; }
    </style>
    <style>
        #screen {
            display: none;
        }
    </style>
</head>
<body>
    <%- include('../profile/filter.ejs') %>
    <%- include('../profile/table.ejs') %>

    <input type="button" id="insert" value="insert">

    <div id="screen">
        <input type="button" value="close" class="close">
        <%- include('../insertForm.ejs', {categories, promotions})  %>
    </div>

    <script type="module">
        import FilterFunctions from '/profiles/FilterFunctions.js'
        import TableFunctions from '/profiles/TableFunctions.js'

        import Form from '/FormFunctions.js'

        class ScreenFunctions {
            constructor(base) {
                this.base = base
                this.form = new Form(this.base.querySelector('#form'))

                
                // starter button 
                this.base.querySelector(`input.close`).addEventListener('click', evt => {
                    evt.preventDefault()

                    this.hide()
                })
            }
            build(data) {
                this.form.Erros.clear()
                this.form.functions.clear()

                if(data) this.form.functions.set(data)
                
                this.show()
            }

            show() { this.base.style.display = 'block' }
            hide() { this.base.style.display = 'none' }

            update(id) {
                fetch('/api/profile/get?id='+id)
                    .then(res => res.json())
                    .then(data => {
                        data = data[0]
                        data._id = id
                        this.build(data)
                    })
                    .catch(err => { console.log(err) })
            }
        }


        class TableFunctionsAdmin extends TableFunctions {
            constructor (base, screenFunctions) {
                super()
                this.base = base
                this.screenFunctions = screenFunctions
            }
            insert(data) {
                data.forEach(e => {
                    let card = `<div id="_${e._id}"} >
                    <input class="openCard" type="button" value="Abrir"> <br>
                    <input class="updateCard" type="button" value="Update"> <br>
                    
                    _id: ${e._id}, <br>
                    name: ${e.name}, <br>
                    picture: ${e.picture}, <br>
                    promotion: ${e.promotion}, <br>
                    uf: ${e.uf}, <br>
                    category: {<br>
                        &nbsp;&nbsp; type: ${e.category.type}, <br>
                        &nbsp;&nbsp; categories: ${e.category.categories} <br>
                    }
                    </div>`
                    this.base.insertAdjacentHTML("beforeend", card)
                    
                    // load buttons
                    this.base.querySelector(`#_${e._id} > input.openCard`).addEventListener('click', evt => {
                        evt.preventDefault()
                        
                        location.href = 'http://localhost:4000/profile?id='+e._id
                    })
                    this.base.querySelector(`#_${e._id} > input.updateCard`).addEventListener('click', evt => {
                        evt.preventDefault()
                        
                        this.screenFunctions.update(e._id)
                    })
                });
            }
        }
        // items
        const eScreen = document.querySelector('div#screen')
        const eProfiles = document.querySelector('div#profiles')
        const eFilter = document.querySelector('div#filter')

        // classes
        const filterfunction = new FilterFunctions( eFilter,  eProfiles, [] )
        const screenFunctions = new ScreenFunctions(eScreen)
        const tableFunctions = new TableFunctionsAdmin( eProfiles, screenFunctions)

        document.querySelector('#insert').addEventListener('click', () => {
            screenFunctions.build()
        })

        fetch('/api/profile/getList')
            .then(res => res.json())
            .then(data => {
                filterfunction.setArray(data)
                tableFunctions.insert(data)
                filterfunction.filterMain()
            })
            .catch(err => { console.log(err) })
    </script>
</body>
</html>