<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Config Profiles</title>
    
    
    <link rel="stylesheet" href="/stylesheet/assets/variables.css">
    <link rel="stylesheet" href="/stylesheet/assets/navbar.css">

    <link rel="stylesheet" href="/stylesheet/profiles/filter.css">
    <link rel="stylesheet" href="/stylesheet/profiles/profiles.css">
    <link rel="stylesheet" href="/stylesheet/config/profiles/profiles.css">

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #screen {
            display: none;
        }
        #screen #loading {
            display: none;
        }
        span.error {
            background-color: red;
        }
    </style>
</head>
<body>
    <%- include('../assets/navbar.ejs', {active: 'config/profiles'}) %>

    <%- include('../profile/filter.ejs') %>
    <%- include('../profile/table.ejs') %>
    
    <div id="notifications">
    </div>

    <div id="screen">
        <div class="back">
            <div class="top">
                <input type="button" value="close" class="close">
            </div>
            <div class="middle">
                <div id="loading">
                    <div class="circle"></div>
                </div>
                <%- include('../form.ejs')  %>
            </div>
            <div class="bottom">
            </div>
        </div>
    </div>
    
    <script type="module" src="/profiles.js"></script>
</body>
</html>