@import '/stylesheet/assets/card.css';


header { font-size: var(--profile-font-size); }

/* top */
    header .top {
        display: grid;
        grid-template-columns: 1fr 1fr;

        width: 100%;
        max-width: 100rem;
        height: auto;
        min-height: 15em;

        padding: 1em;
        margin: 0 auto;

    }
    header .top > * {
        width: 100%;
        height: 100%;
    }
    /* left */
        header .top > .left { position: relative; }
        /* card */
            header .top > .left .card {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                width: 16em;
                height: auto;
                aspect-ratio: 51/38;

                z-index: 1;
            }
            .card .elements .right { display: none; }
        /* back */
            header .top > .left .back {
                position: absolute;
                right: 0;   

                width: 50%;
                height: 100%;
                
                border: .1em solid black;
                border-radius: 1em;
                background-color: #0a0615;
                background-image: var(--profile-back);
                background-size: 300%;
                background-repeat: no-repeat;
            }
    /* rigth */
        header .top > .rigth {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: .5em;

            width: calc(100% + 2em);
            
            padding: 1em 1em 1em calc(1em + 2em);
            margin-left: -2em;
            
            font-size: .5em;

            border: .1em solid black;
            border-left: none;
            border-radius:  0 1em 1em 0;
            background-color: white;
            z-index: -1;
        }
        /* texts */
            header .top > .rigth h3 {
                font-size: 1.2em;
                font-weight: 900;
            }
            header .top > .rigth .text-color { color: var(--color-2); }

        /* svg */
            header .top > .rigth svg {
                height: 1.6em;
                padding: .25em;
                border-radius: .25em;
                aspect-ratio: 1;

                background-color: var(--color-4);
            }

        /* numbers */
            header .top > .rigth .numbers {
                display: flex;
                gap: .5em;
                flex-direction: column;
            }
            header .top > .rigth .numbers > * {
                display: grid;
                grid-template-columns: auto 1fr;
                gap: .25em;

                font-size: 1em;
            }
            header .top > .rigth .numbers span {
                display: flex;
                align-items: center;

                height: 100%;
                font-size: 1.1em;
            }
        /* address */
            header .top > .rigth .address {
                display: grid;
                grid-template-columns: auto 1fr;
                gap: .25em;

                width: 50%;
            }

/* division */
    header .division {
        width: 100%;
        height: min(5vw, 7rem);

        background-color: var(--color-2);
    }

/* bottom */
    header .bottom {
        display: grid;
        grid-template: fit-content(100%) 1fr / fit-content(40%) 1fr;
        gap: 2em 5em;

        width: 100%;
        max-width: 100rem;

        padding: 1em;
        margin: 0 auto;

        font-size: .5em;
    }
    /* movie */
        header .bottom .movie {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 2rem;

            grid-area: 1 / 1 / span 2 / auto;
        }
        /* embed */
            header .bottom .movie .embed {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            header .bottom .movie .embed::before {
                content: '';
                position: absolute;

                top: .75em;
                right: -.75em;

                width: 100%;
                height: 100%;

                border-radius: .5em;
                background-color: var(--color-2);
                z-index: -1;
            }
            header .bottom .movie .embed .text {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 900;
                font-size: 2em;
                color: white;
            }
            header .bottom .movie .embed > * {
                width: 400px;
                height: 720px;
                border-radius: .5em;
            }

        /* note */
            header .bottom .movie .note {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                gap: 1.5rem;

                width: 100%;
                height: 100%;
            }
            /* stars */
                header .bottom .movie .note .stars {
                    display: flex;

                    width: 15rem;
                    height: fit-content;
                }
                header .bottom .movie .note .stars svg.star:nth-child(3) { scale: 1.5; margin: 0 .5rem; }

            /* text */
                header .bottom .movie .note p {
                    font-size: 2rem;
                    font-weight: 900;
                }
                header .bottom .movie .note p span {
                    padding: .25em;

                    border-radius: .25em;
                    color: var(--color-4);
                    font-size: 1.5em;
                    background-color: var(--color-2);
                }

    /* reviewdeo */
        header .bottom .reviewdeo {
            display: flex;
            justify-content: center;
            align-items: start;

            padding: 2em 0 0 0;
        }
        header .bottom .reviewdeo .block {
            position: relative;
            
            min-width: 100%;

            padding: 1em;

            border: .15em solid black;
            border-radius: 1.5em;
            background-color: var(--color-2);
        }
        /* text */
            header .bottom .reviewdeo .block h2 {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                
                padding: .5em 1em;
                
                color: var(--color-2);
                letter-spacing: .1em;
                text-shadow: -.03em .03em 0 black;
                
                font-weight: 900;
                font-size: 2em;
                
                border-radius: .5em;
                background-color: var(--color-4);
            }
            header .bottom .reviewdeo .block p {
                padding: 1em;
                padding-top: 1.5em;
                
                border-radius: 1em;
                background-color: white;
            }

    /* map */
        header .bottom .map {
            width: 100%;
            height: 100%;
        }


@media screen and (max-width: 1400px) {
    header .bottom .reviewdeo { font-size: 2vw; }
    header .bottom .movie { grid-area: 1 / 1; }
    header .bottom .map {
        grid-area: 2 / 1 / span 1 / span 2; 
        height: auto;
        aspect-ratio: 16/9;
    }
}
@media screen and (max-width: 800px) {
    /* top */
        header .top {
            grid-template: auto auto / 1fr;

            margin: 0 auto;
            padding: 2em;
        }
        /* fonts */
            header .top > .left { font-size: 2em; }
            header .top > .rigth {  font-size: 1.3em; }

        /* left */
            header .top > .left .card {
                position: relative;

                width: 100%;
            }
            header .top > .left .back { display: none; }

        /* rigth */
            header .top > .rigth {
                gap: 1em;

                width: 100%;
                
                margin: 0;
                padding-left: 0;
                padding-right: 0;
                
                border: none;
            }
            header .top > .rigth .address { width: auto; }

    /* division */
        header .division { height: 10vw; }
    /* bottom */
        header .bottom { grid-template: repeat(3, fit-content(100%)) / 1fr; }
        /* movie */
            header .bottom .movie {
                padding: 1rem;
                grid-area: auto;
            }
            header .bottom .movie .embed > * {
                width: 300px;
                height: 600px;
            }

        /* reviewdeo */
            header .bottom .reviewdeo { font-size: 2.5em; }

        /* map */
            header .bottom .map { grid-area: auto}
}