<div class="carousel">
    <div class="gallery js-flickity" >
        <% for( let i = 0; i < 3; i++ ) { %>
            <div class="gallery-cell js-gallery-cell">
                <div class="card">
                    <span style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">loading</span>
                </div>
          </div>
        <% } %>
    </div>
</div>