<div id="nav">
    <ul class="nav">
        <li class="icon">
            <a href="/"> <img src="/images/icon.png" alt="Logo do website escrito zahir"> </a>
        </li>
        <li>
            <ul class="center">
                <li class="item active"><a href="/">Home</a></li>
                <li class="line"><div></div></li>
                <li class="item"><a href="#">Menu</a></li>
                <li class="line"><div></div></li>
                <li class="item"><a href="#">Comentários</a></li>
            </ul>
        </li>
        <li>
            <ul class="login">
                <li class="login"><a href="#">Log in</a></li>
                <li class="register"><a href="#">Registre-se</a></li>
            </ul>
        </li>
    </ul>
</div>