<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Home page</h1>

    <h2>Carrosel de promotions</h2>
    <div id="carrosel"></div>


    <script type="module">
        import api from '/helper/Api.js'

        class Carrosel {
            constructor(base) {
                this.base = base

                this.build()
            }
            getTemplate(data) {
                return `<div class="element">
                    name: ${data.name} <br>
                    promotion: ${data.promotion}
                </div>`
            }
            async build() {
                this.clear()
                let data = await api.homePage.getAll()

                data.forEach(e => {
                    this.base.insertAdjacentHTML('beforeend', this.getTemplate(e.profile))
                });
            }
            clear() { this.base.innerHTML = `` }
        }

        const eCarrosel = document.querySelector('#carrosel')
        new Carrosel(eCarrosel)

    </script>
</body>
</html>