<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet/flickity.css" media="screen">
    <link rel="icon" type="image/x-icon" href="/manifest/favicon.ico">
    <link rel="manifest" href="/manifest.webmanifest" />
    <!-- <meta http-equiv="refresh" content="2" /> -->

    <style>
        * {
            padding: 0;
            margin: 0;
        }
    </style>
    <link rel="stylesheet" href="/stylesheet/assets/variables.css">
    <link rel="stylesheet" href="/stylesheet/assets/navbar.css">
    <link rel="stylesheet" href="/stylesheet/assets/footer.css">

    <title>Loja</title>

    <style>
        * {
            margin: 0;
            padding: 0;
        }
        html, body { min-width: 320px; }
        body {
            /* background-image: url('/images/MainPage.png'); */ /* remove */ 
            background-image: url('/images/back_10.png');
            background-size: 50%;
        }
        @media ( max-width: 1000px ) {
            body { background-size: 100%; }
        }
    </style>

    <style>
        main  {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            display: flex;
            flex-direction: column;
            gap: .5em;
            
            margin-top: -4em;
            
            font-size: var(--nav-font-size);
            text-align: center;
        }
        main > *{
            font-size: 1.5em;
        }
        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <%- include('./assets/navbar.ejs', { active: 'loja', permission: permission })%>
    
    <main>
        <h3>Loja em desenvolvimento</h3>
        <a href="/">Volte para o início</a>
    </main>
    
    <%- include('assets/footer.ejs') %>
</body>
</html>