<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        * {
            padding: 0;
            margin: 0;
        }
    </style>
    <link rel="stylesheet" href="/stylesheet/assets/variables.css">
    <link rel="stylesheet" href="/stylesheet/assets/navbar.css">

    <link rel="stylesheet" href="/stylesheet/assets/card.css">


    <title>Profile</title>

    <style>
        .card {
            width: 510px;
            height: 380px;
        }
    </style>
</head>
<body>
    <%- include('./assets/navbar.ejs', {active: null})%>
    <div id="main">
        <div class="card">
            <span class="loading"></span>
        </div>
    </div>

    <script type="module">
    import api from '/helper/Api.js'
    
        class InsertCard {
            constructor (base, id) {
                this.base = base
                api.profile.get(id)
                    .then(data => {
                        console.log(data);
                        data[0]._id = id

                        this.main(data[0])
                    })
                    .catch(err => {
                        console.log(err);
                    })
            }
            getTemplate(data, i) {
                // updated this for get a template ejs
                return `
                <div class="card">
                    <img src="/images/carousel/${i+1}.png" alt="">
                    ${ (data.promotion.title) ? `<div class="promotion"> ${data.promotion.title} </div>` : '' }
                    <div class="elements">
                        <div class="left">
                            <span class="name">${data.name}</span>
                            <span class="local">${data.local.uf} - ${data.local.city}</span>
                        </div>
                    </div>
                </div>
                `
            }
            main(data) {
                this.clear()

                this.base.insertAdjacentHTML('beforeend', this.getTemplate(data, 1)) //hard code image
            }
            clear() { this.base.innerHTML = '' }
        }


        const searchParams = new URLSearchParams(document.location.search); 
        const insertCard = new InsertCard(document.querySelector('#main'), searchParams.get('id'))
    </script>
</body>
</html>