<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles</title>

    
    <style>
        #filter {
            display: flex;
        }

        #profiles {
            display: flex;
        }
        #profiles > div {
            background-color: #ddd;
            width: 200px;
            padding: 10px;
            margin: 10px;
        }

        .unvisible { display: none; }

        /* btn */
            /* promotion */
                .btn.promotion {
                    padding: 10px;
                    border-radius: 2px;
                    background-color: red;
                }
                .btn.promotion:hover {cursor: pointer;}

                div#promotion input {display: none;}
                div#promotion input:checked ~ label.promotion { background-color: green; }

            /* categorie */
                div#categories div {
                    padding: 10px;
                }
                div#categories div label {
                    padding: 10px;
                    border: 1px solid black;
                    border-radius: 5px;
                }
                div#categories div label:hover {cursor: pointer;}

                div#categories input {display: none;}
                div#categories input:checked ~ label.categorie { background-color: green; }
    </style>
</head>
<body>
    <%- include('./profile/filter.ejs', {categories: categories}) %>
    <%- include('./profile/table.ejs') %>

    <script type="module">
        import FilterFunctions from './FilterFunctions.js'
        import TableFunctions from './TableFunctions.js'

        var arrayElements = []

        const filterfunction = new FilterFunctions(
            document.querySelector('#filter'),
            document.querySelector('#profiles'),
            arrayElements
        )
        const tableFunctions = new TableFunctions(document.querySelector('#profiles'))

        // query
        fetch('http://localhost:4000/api/profile/getList')
            .then((res) => { return res.json() })
            .then((data) => {
                if (data.length == 0) return tableFunctions.resultNull()

                filterfunction.setArray(data)

                data.forEach(e => {
                    tableFunctions.insert(e)
                });
                filterfunction.filterMain()
            })
            .catch((err) => { console.log(err) })
    </script>
</body>
</html>