<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>

    <div id="main"></div>

    <script type="module">
        import validate from "./validator.js";

        class ProfileFunctions {
            constructor(base) {
                this.base = base
                this.template = (data) => `<div id="${data._id}">
                    _id: ${data._id}, <br>
                    created: ${data.created}, <br>
                    name: ${data.name}, <br>
                    resume: ${data.resume}, <br>
                    picture: ${data.picture}, <br>
                    promotion: ${data.promotion}, <br>
                    local: {<br>
                        &nbsp;&nbsp; cep: ${data.local.cep}, <br>
                        &nbsp;&nbsp; uf: ${data.local.uf}, <br>
                        &nbsp;&nbsp; city: ${data.local.city}, <br>
                        &nbsp;&nbsp; neighborhood: ${data.local.neighborhood}, <br>
                        &nbsp;&nbsp; street: ${data.local.street}, <br>
                        &nbsp;&nbsp; number: ${data.local.number}, <br>
                        &nbsp;&nbsp; complement: ${data.local.complement}, <br>
                    },<br>
                    informations: ${data.informations}, <br>
                    category: {<br>
                        &nbsp;&nbsp; type: ${data.category.type}, <br>
                        &nbsp;&nbsp; categories: ${data.category.categories} <br>
                    },<br>
                    telephones: { <br>
                        &nbsp;&nbsp; telephone: ${data.telephones.telephone}, <br>
                        &nbsp;&nbsp; whatsapp: ${data.telephones.whatsapp} <br>
                    }, <br>
                    movie: ${data.movie}, <br>
                </div>`
            }
            insert(data) {
                data['_id'] = searchParams.get('id')
                this.base.insertAdjacentHTML("beforeend", this.template(data))
            }
        }

        const searchParams = new URLSearchParams(document.location.search); 
        const profileFunctions = new ProfileFunctions(document.querySelector('#main'))

        // query
        fetch('http://localhost:4000/api/profile/get?id='+searchParams.get('id'))
            .then((res) => { return res.json() })
            .then((data) => {
                console.log(data)
                // profileFunctions.insert(data[0])
            })
            .catch((err) => { console.log(err) })
    </script>
</body>
</html>