<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        * {
            padding: 0;
            margin: 0;
        }
    </style>
    <link rel="stylesheet" href="/stylesheet/assets/variables.css">
    <link rel="stylesheet" href="/stylesheet/assets/navbar.css">

    <link rel="stylesheet" href="/stylesheet/assets/card.css">


    <title>Profile</title>

    <style>
        .card {
            width: 510px;
            height: 380px;
        }
        .card .elements .right {
            display: none;
        }
    </style>
</head>
<body>
    <%- include('./assets/navbar.ejs', {active: null})%>
    <div id="main">
        <% profile['picture'] = `/images/carousel/1.png` %>
        <%- include('./assets/carousel/card.ejs'), { profile } %>
    </div>
</body>
</html>