:root {
    --var1: rgba(113, 82, 160, 1);
    --var2: rgba(203, 87, 87, 1);
    --var3: rgba(40, 171, 201, 1);
    --var4: rgba(237, 171, 74, 1);

    --active: rgba(40, 171, 201, .9);
}

#carousel .loading {  
    background-image: linear-gradient(90deg,hsla(0,0%,98.8%,0),var(--var1) 50%,hsla(0,0%,98.8%,0)),linear-gradient(var(--var4) 100%,transparent 0);
    background-size: 300px 100%,100% 100%;
    background-position: -160% 0,0 0;
    background-repeat: no-repeat;
    animation: loading 1.5s infinite;

    top: 0;
    right: 0;

    z-index: 1;
}

#carousel {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}
/* top */
    #carousel .top {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #carousel .top h1 {
        text-align: center;
        font-size: 4vw;

        line-height: 90%;
    }
    #carousel .top h1 span {
        color: var(--var2);
        letter-spacing: .1em;
    }


.carousel {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    overflow: hidden;
}
.carousel .gallery {
    width: 90%;
    aspect-ratio: 11/4;
}
.carousel .gallery-cell {
    width: inherit;

    width: 34%;
    aspect-ratio: 12/9;

    /* background-color: green; */
}
.carousel .gallery-cell.is-selected { z-index: 1; }

/* card */
    .carousel .gallery-cell .card {
        position: relative;

        width: 100%;
        height: 100%;

        transition: transform .5s;
    }
    .carousel .gallery-cell.is-selected .card {
        transform: scale(1.2);
    }

    /* back */
        .carousel .card img,
        .carousel .card::before,
        .carousel .card::after,
        .carousel .card .loading {
            position: absolute;

            width: 98%;
            height: 98%;

            border-radius: 1.5vw;
        }
        /* shadows */
            .carousel .gallery-cell.left .card::after,
            .carousel .gallery-cell.is-selected .card::after,
            .carousel .gallery-cell.rigth .card::after {
                content: '';

                top: 0;
                right: 0;

                z-index: 1;

                background: rgb(0,0,0);
            }
            .carousel .gallery-cell.left .card::after {
                background: linear-gradient(-90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
            }
            .carousel .gallery-cell.rigth .card::after {
                background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
            }
            .carousel .gallery-cell.is-selected .card::after {
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
            }

        .carousel .card img {
            top: 0;
            right: 0;

            object-fit: cover;
        }
        .carousel .card::before {
            content: '';

            bottom: 0;
            left: 0;

            background-color: var(--var2);
        }

    /* elements */
        .carousel .gallery-cell:not(.is-selected) .elements { display: none; }
        .carousel .elements {
            position: absolute;

            bottom: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;

            width: 100%;
            height: 32%;
            z-index: 2;
        }
        /* left */
            .carousel .elements .left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;

                width: 100%;
                height: 100%;

                padding-left: 15%;

                color: white;
            }
            .carousel .elements .left .name {
                font-size: 2vw;
                font-weight: 900;
                line-height: 100%;
            }
            .carousel .elements .left .local {
                font-size: 1.2vw;
            }
        /* rigth */
            .carousel .elements .right {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 100%;
            }
            .carousel .elements .right a {
                display: block;

                width: 70%;
                height: fit-content;

                padding: min(.5vw, 5px) 0;

                color: white;
                text-decoration: none;
                text-align: center;
                font-size: 1.3vw;

                border: none;
                border-radius: 5em;
                box-shadow: -.1em -.1em 0 rgba(0, 0, 0, .2) inset;
                background-color: var(--var4);
            }
            .carousel .elements .right a:hover {
                cursor: pointer;
                box-shadow: .1em .1em 0 rgba(0, 0, 0, .2) inset;
            }


/* dot bar */
    .carousel .gallery .flickity-page-dots {
        position: absolute;
        bottom: 1%;
    }
    .carousel .gallery .flickity-page-dots .dot {
        width: 1.2%;
        height: auto;
        aspect-ratio: 1;

        margin: 0 1%;

        border-radius: 50%;
        border: 1px solid var(--var2);
        background-color: rgba(0, 0, 0, 0);

        opacity: 1;
        transition: transform .5ms;
    }
    .carousel .gallery .flickity-page-dots .dot.is-selected {
        transform: scale(1.3);
        background-color: var(--var2);
    }

/* responsive */
@media screen and ( max-width: 1000px ) {
    #carousel {  margin-top: min(calc(1em + 13vw), 100px); }
    #carousel .top h1 {  font-size: max(7vw, 20px); }
    .carousel { margin-top: -3.5vw; }
    .carousel .gallery {
        max-width: none;
        aspect-ratio: 15/10;
    }
    .carousel .gallery .flickity-viewport { transform:  scale(1.75); }
    .carousel .gallery .flickity-page-dots .dot { width: 1.75%; }
    .carousel .flickity-button { display: none; }
}

@media screen and ( width > 1700px ) {
    #carousel .top h1 { font-size: 400%; } 

    #carousel .carousel .gallery { width: 1500px; }
    #carousel .carousel .elements .left .name { font-size: 200%; }
    #carousel .carousel .elements .left .local { font-size: 120%; }
    #carousel .carousel .elements .right .button { font-size: 130%; }
}