footer {
    margin-top: 5rem;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 1em;

    padding: 3.5em 0;

    background-color: var(--color-2);
    font-size: min(1rem, 3vw);
}
/* social */
    footer .social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em 2em;
    }
    footer .social svg {
        width: 3em;
        aspect-ratio: 1;

        fill: var(--color-4);
    }
/* texts */
    footer .texts {
        margin: 0 auto;
        color: white;
        text-align: center;
    }
    footer .texts h3 span { font-weight: 900; }