:root {
    --var1: rgba(113, 82, 160, 1);
    --var2: rgba(203, 87, 87, 1);
    --var3: rgba(40, 171, 201, 1);
    --var4: rgba(237, 171, 74, 1);

    --active: rgba(40, 171, 201, .9);
}

#nav * { box-sizing: border-box; }
#nav {
    background-color: var(--var1);
    background-image: url('/images/back_50.png');
    background-size: 50%;
    z-index: 2;
}

ul.nav {
    list-style-type: none;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 85px;
}


/* Globals */
    ul.nav > * { height: 100%; }
    ul.nav ul {
        list-style-type: none;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul.nav a {
        display: flex;
        justify-content: center;
        align-items: center;

        color: white;
        text-decoration: none;
    }


/* Desktop */
    /* logo */
    ul.nav li.logo {
        position: absolute;
        top: 0;
        left: 5%;
    }
    ul.nav li.logo a { height:  inherit; }
    ul.nav li.logo a img { height: 70%; }

    /* center */
    ul.nav ul.center {
        gap: 10px;
        
        height: inherit;

        font-size: 2.1em;
    }
    /* li */
        ul.nav ul.center li.item a {
            padding: 5px 20px;
            
            border-radius: .2em;
            
            transition: .3s;
        }
        ul.nav ul.center li.item.active a { background-color: var(--active); }
        ul.nav ul.center li.item a:hover {
            font-size: 1.3em;
            background-color: rgba(0, 0, 0, .2);
        }
    /* line */
        ul.nav ul.center li.line > div {
            height: 45px;
            width: 4px;

            background-color: var(--var4);
        }

    /* login */ 
    ul.nav ul.login {
        position: absolute;
        top: 0;
        right: 5%;

        gap: 10px;
        
        height: inherit;

        font-size: 2.1em;
    }
    /* login */
        ul.nav ul.login li.login a {
            padding: 10px 20px;
            border-radius: .2em;
        }
        ul.nav ul.login li.login:hover a { background-color: rgba(0, 0, 0, .2); }
    /* register */
        ul.nav ul.login li.register a {
            padding: 10px 30px;
            
            border-radius: .5em;
            box-shadow: -.1em -.1em 0 rgba(0, 0, 0, .2) inset;
            background-color: var(--var4);
        }
        ul.nav ul.login li.register a:hover { box-shadow: .1em .1em 0 rgba(0, 0, 0, .2) inset; }

/* Mobile */
    #nav ul.nav.mobile {
        display: none;
    }
    #nav ul.nav.mobile li.menu {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 0;
        right: 1em;
    }
    #nav ul.nav.mobile li.menu svg {
        height: 70%;
        aspect-ratio: 1;

        background-color: rgba(0, 0, 0, .4);

        border-radius: 15%;

        padding: 15%;
        border: 1px solid white;

        cursor: pointer;
    }

@media ( max-width: 1000px ) {
    #nav { background-size: 100%; }
}

@media (max-width: 1300px) {
    #nav {
        position: fixed;
        top: 0;
        width: 100%;
    }
    #nav ul.nav {
        height: 13vw;
        max-height: 85px;
    }
    #nav ul.nav.desktop { display: none; }
    #nav ul.nav.mobile { display: flex; }
}