:root {
    --nav-padding-y: .5rem;
    --nav-padding: var(--nav-padding-y) 2rem;
    --nav-heigth: min(40px, 10vw);
    --nav-heigth-total: calc(var(--nav-heigth) + var(--nav-padding-y) * 2);

    --font-size: min(1rem, 4vw);
}

nav * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    position: relative;

    padding: var(--nav-padding);
    background-color: var(--var1);
    background-image: url('/images/back_50.png');
    background-size: 50%;
    position: relative;
    z-index: 2;
}

/* Globals */
    nav li { list-style: none; }
    nav a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        cursor: pointer;
    }
    nav svg {
        height: 100%;
        aspect-ratio: 1;
    }

/* nav */
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: var(--nav-heigth);
        max-width: 1200px;

        margin: 0 auto;

        font-size: var(--font-size);
    }
    /* logo */
        .nav .logo  { height: 100%; }
        .nav .logo a {
            display: block;
            height: 100%;
        }
        .nav .logo a img { height: inherit; }

    /* DESKTOP */
        /* center */
            .nav.desktop ul.links {
                display: flex;
                align-items: center;
                gap: .5rem;

                width: max-content;
                height: max-content;

                font-size: 1.3em;
                font-weight: 900;
            }
            .nav.desktop ul.links svg {
                height: 1em;
                transition: transform 300ms;
            }

            .nav.desktop ul.links li { position: relative; }
            .nav.desktop ul.links li.line {
                width: .2em;
                height: 1.5em;
                background-color: var(--var4);
            }
            /* items */
                .nav.desktop ul.links li a.item {
                    display: flex;
                    align-items: center;
                    gap: .5em;

                    padding: .2em .5em;
                    
                    font-size: 1em;
                    text-align: center;
                    border-radius: .3em;
                    
                    transition: background-color 300ms, font-size 300ms;
                    transform-origin: center;
                }
                .nav.desktop ul.links li a.item.active { background-color: var(--var3); }
                .nav.desktop ul.links li a.item:hover {
                    font-size: 1.25em;
                    background-color: rgba(0, 0, 0, .3);
                }

                /* config */
                    /* input */
                        .nav.desktop ul.links li input#cb_desktop_config:checked ~ .content { display: flex; }
                        .nav.desktop ul.links li input#cb_desktop_config:checked ~ label a.dropdown {
                            font-size: 1.25em;
                            background-color: rgba(0, 0, 0, .3);
                        }
                        .nav.desktop ul.links li input#cb_desktop_config:checked ~ label a.dropdown svg { transform: rotate(-180deg); }

                    /* content */
                        .nav.desktop ul.links .content {
                            position: absolute;
                            
                            display: none;
                            flex-direction: column;
                            gap: .25em;

                            top: var(--nav-heigth-total);
                            left: 0;
                            
                            min-width: 200px;
                            padding: .5em;
                            
                            border-radius: .5em;
                            background-color: var(--var1);
                            box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
                        }
                        .nav.desktop ul.links .content li a {
                            display: block;
                            padding: .3em .4em;

                            font-size: 1em;
                            border-radius: .25em;
                        }
                        .nav.desktop ul.links .content li a:hover { background-color: rgba(0, 0, 0, .3); }

        /* rigth button */
            .nav.desktop .btns {
                display: flex;
                gap: 1rem;

                font-weight: 900;
            }
            .nav.desktop .btns a {
                padding: .75rem 1rem;
                inline-size: max-content;
                border-radius: .5rem;
            }
            /* login */
                .nav.desktop .btns .login:hover { background-color: rgba(0, 0, 0, .3); }

            /* register */
                .nav.desktop .btns .register {
                    background-color: var(--var4);
                    box-shadow: -.2em -.2em 0 rgba(0, 0, 0, .3) inset;
                }
                .nav.desktop .btns .register:hover { box-shadow: .2em .2em 0 rgba(0, 0, 0, .3) inset; }

    /* MOBILE */
        .nav.mobile { display: none; }
        .nav.mobile .btn {
            height: 100%;
            padding: .3em;
            
            border: .1em solid white;
            border-radius: .3em;
            background-color: rgba(0, 0, 0, .3);
            cursor: pointer;
        }
        .nav.mobile .sidebar {
            position: fixed;
            top: 0;
            right: calc(-50vw - 5vw - 20px);

            width: 50vw;
            height: 100%;

            color: white;
            background-color: var(--var1);
            box-shadow: -5vw 0 20px rgba(0, 0, 0, .4);
            
            transition: all .5s ease;
            z-index: 2;
        }
        /* input */
            .nav.mobile input#cb_sidebar:checked ~ .sidebar { right: 0; }

        /* top */
            .nav.mobile .sidebar .top { padding: var(--nav-padding); }
            .nav.mobile .sidebar .top .inside {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1em;

                width: 100%;
                height: var(--nav-heigth);
                
                margin: 0 auto;
            }
            .nav.mobile .sidebar .top .inside h3 {
                width: 100%;
                font-size: 1.5em;
                text-align: center;
            }
        /* links */ 
            .nav.mobile .sidebar .links {
                display: flex;
                flex-direction: column;
                gap: .5em;

                padding: .5em;
            }
            .nav.mobile .sidebar .links a {
                display: grid;
                grid-template-columns: auto 1fr;
                gap: 1em;

                padding: .5em;

                font-size: 1em;
                border-radius: .5em;
                transition: all 500ms;
                cursor: pointer;
            }
            .nav.mobile .sidebar .links a.active { background-color: rgb(0, 0, 86); }

            /* Config */
                .nav.mobile .sidebar .links .dropdown { grid-template-columns: auto 1fr auto; }
                
                /* input */
                    .nav.mobile .sidebar .links input#cb_sidebar_config:checked ~ .content { display: flex; }
                    .nav.mobile .sidebar .links input#cb_sidebar_config:checked ~ label a { background-color: rgb(0, 0, 86); }
                    .nav.mobile .sidebar .links label a .arrow { transition: transform 500ms; }
                    .nav.mobile .sidebar .links input#cb_sidebar_config:checked ~ label a .arrow { transform: rotate(-180deg); }
                
                /* content */
                    .nav.mobile .sidebar .content {
                        display: none;
                        background-color: rgba(0, 0, 0, .3);
                    }
                    .nav.mobile .sidebar .content {
                        padding: 0;
                        margin: .5em auto;
                        border-radius: .5em;
                    }
            


    @media (width < 800px) {
        :root { --nav-padding: .5rem .5rem; }
    
        .nav.desktop { display: none; }
        .nav.mobile { display: flex; }
    }